html {
  font-size: 62.5%;
}

body {
  font-family: 'Slabo 27px', serif;
  font-size: $medium-sized;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
