.counterAndFormArea {
  margin-bottom: 18rem;
}

.counter {
  height: 30rem;
  margin-top: -5rem;
  padding-top: 10rem;
}

.counterPercentage,
.counterMacroTitle {
  text-align: center;
}

.counter-text {
  color: $counter-text-color;
  font-size: 2.25rem;
  font-weight: 300;
}
