.macroHeaders {
  display: inline-block;
}

.healthyStarchyCarbs {
  font-size: $large-sized;
}

.lessHealthyStarchyCarbs {
  font-size: 1.8rem;
}

.leastHealthyStarchyCarbs {
  font-size: $small-sized;
}

.starchyCarbsNote {
  font-size: $small-sized;
}

.div-spacing {
  margin-top: $xxlarge-sized;
  margin-bottom: $xxlarge-sized;
}
