.text-center {
  text-align: center; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Slabo 27px', serif;
  font-size: 1.9rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.counterAndFormArea {
  margin-bottom: 18rem; }

.counter {
  margin-top: -5rem;
  padding-top: 10rem; }

.counterPercentage,
.counterMacroTitle {
  text-align: center; }

.counter-text {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 300; }

nav {
  margin-bottom: 5rem; }

.brand-logo {
  margin-left: 5%; }

.header-right {
  margin-right: 5%; }

.right > li > a {
  font-size: 1.5rem; }

.page-footer {
  background-color: #ee6e73;
  bottom: 0;
  color: #fff;
  padding-top: 0px;
  position: fixed;
  width: 100%; }

.macroHeaders {
  display: inline-block; }

.healthyStarchyCarbs {
  font-size: 2.4rem; }

.lessHealthyStarchyCarbs {
  font-size: 1.8rem; }

.leastHealthyStarchyCarbs {
  font-size: 1.2rem; }

.starchyCarbsNote {
  font-size: 1.2rem; }

.div-spacing {
  margin-bottom: 4.8rem;
  margin-top: 4.8rem; }
