.text-center {
  text-align: center; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Slabo 27px', serif;
  font-size: 1.9rem; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.brand-logo {
  margin-left: 5%; }

.header-right {
  margin-right: 5%; }

.header-right > li > a {
  font-size: 1.9rem; }

.page-footer {
  padding-top: 0px; }

.macroHeaders {
  display: inline-block; }

.healthyStarchyCarbs {
  font-size: 2.4rem; }

.lessHealthyStarchyCarbs {
  font-size: 1.8rem; }

.leastHealthyStarchyCarbs {
  font-size: 1.2rem; }

.starchyCarbsNote {
  font-size: 1.2rem; }

.div-spacing {
  margin-top: 4.8rem;
  margin-bottom: 4.8rem; }
